p{
    font-size: 60px;
    font-style: inherit;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}

.s{
    font-size: medium;
}
body{background-repeat:no-repeat
 ;
background-size:cover;
background-position: center center;
height: 100vh;}
*{
    margin: 0;
    padding: 0;
}